aiohttp==3.8.3
aioice==0.7.6
aiortc==1.3.2
aiosignal==1.2.0
async-timeout==4.0.2
attrs==22.1.0
av==9.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
cryptography==38.0.1
dnspython==2.2.1
ffmpeg-python==0.2.0
frozenlist==1.3.1
future==0.18.2
google-crc32c==1.5.0
idna==3.4
multidict==6.0.2
netifaces==0.11.0
numpy==1.23.4
opencv-python==4.6.0.66
pip==22.2.2
pycparser==2.21
pyee==9.0.4
pylibsrtp==0.7.1
setuptools==63.4.1
typing_extensions==4.4.0
wheel==0.37.1
yarl==1.8.1
